<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}

        {% endblock %}
    </title>
</head>
<body>
    <nav class="menu">
        <ul>
            <li><a href="/">Inicio</a></li>
            {% if user.is_authenticated %}
                <li>
                    <form method="post" action="{% url 'users:logout' %}" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" style="background: none; border: none; color: #007bff; cursor: pointer;">
                            Salir
                        </button>
                    </form>
                </li>
            {% else %}
            <li><a href={% url "users:register" %}>Registrarse</a></li>
            <li><a href={% url "users:login" %}>Acceder</a></li>
            {% endif %}
        </ul>
    </nav>
    <main>
        {% block content %}
        
        {% endblock content %}
    </main>
</body>
</html>