<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}Seguimiento de Candidaturas{% endblock %}
    </title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
        <div class="container">
            <a class="navbar-brand" href="/">Mis Candidaturas</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Inicio</a>
                    </li>
                    {% if user.is_authenticated %}
                         <li class="nav-item">
                            <a class="nav-link" href= {% url "dashboard:user_dashboard" %} >Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <form method="post" action="{% url 'users:logout' %}" class="d-inline">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-link nav-link">
                                    Salir
                                </button>
                            </form>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'users:register' %}">Registrarse</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'users:login' %}">Acceder</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <main class="container">
        {% block content %}
        {% endblock content %}
    </main>

    {% bootstrap_javascript %}
</body>
</html>